.code1 {
  background-image :url("../assets/backgrounds/h_img.jpg");
  background-repeat: no-repeat;
}
.content {
  color: aliceblue;
  text-align: center;


}
.row2 {color: darkslateblue;
  text-align: center;

}
.code2 {
  background-image: url("../assets/backgrounds/s_image.jpg");
  background-repeat: no-repeat;
  padding: 10px,10px;
}
.content2 {text-align: center;
  color :rgb(232, 230, 240);


}
.heading {
  text-align: center;
  color: black;

}
.design {
  color: gold;
  align-content: center;
  font-style: italic;
  font-family: 'Courier New';
}
.row3 {
  background-color:gold;
  font-family: 'Lucida Sans';
}


.form{
  width: 50px;
  height: 100px;
}
#p1,#p2,#p3 {
    display: none;
    font-style: italic;
    font-family: 'Segoe UI';
    color:blue; 
}
#contact-form {
  text-align: center;
  background-image: url("../assets/backgrounds/c_image.jpg");
  font-style: oblique;
  font-family: 'Lucida Sans';

  
}
.about{
  
  font-style: italic;
  font-family: 'Segoe UI';
  color: blue

}



